* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

header {
  margin-bottom: 20px;
  background: #252932;
  overflow: hidden;
  padding-left: 1em;
}

.wrapper {
  width: 100%;
  max-width: 10000px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}

.logo{
  width: 150px;
  height: 150px;
  float: left;
}

header #namepage {
  color: #f2f2f2;
  font-size: 50px;
  line-height: 200px;
  float: left;
}

header nav {
  float: right;
  line-height: 200px;
  margin-right: 2em;
}

header nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  transition: all 500ms ease;
  border-radius: 50px;
}

header nav a:hover {
  box-shadow: inset -10px 10px 8px 0px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.headeronmove {
  position: fixed;
  height: 100px;
}

.headeronmove #namepage {
  line-height: 100px;
  font-size: 30px;
}

.headeronmove nav {
  line-height: 100px;
}

.headeronmove .logo{
  width: 100px;
  height: 100px;
}

body {
  background: #ccc;
  width: 99%;
}

article {
  margin-bottom: 1em;
}

body #namepage {
  position: relative;
  font-family: Arial, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

#pres,
#exp,
#skills,
#cont {
  text-align: left;
  margin: 0;
  font-size: 50px;
  font-family: Arial, "Times New Roman", Times, serif;
  animation: glitch 3s infinite;
  animation-duration: 25s;
}

@keyframes glitch {
  0% {
    text-shadow: #b4cf06 0px 0px, #0d22da 0px 0px;
  }

  50% {
    text-shadow: #ff0000 -8px 0px, #60ffff 8px 0px;
  }

  100% {
    text-shadow: #b4cf06 0px 0px, #0d22da 0px 0px;
  }
}

.code {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: url("../img/code.jpg");
  background-size: cover;
  background-position: center;
  transition: all ease-in-out 160ms;
  cursor: pointer;
  margin: 0 auto;
}

.code:hover {
  transform: scale(1.2);
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
  opacity: 1;
  margin-bottom: 2em;
  z-index: -1;
}

#sobremi {
  text-align: justify;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 2100%;
  background-image: url("../img/imagen.jpeg");
  background-size: cover;
  background-position: center;
  transition: all ease-in-out 160ms;
  cursor: pointer;
  margin: 0 auto;
  z-index: 0;
}

.foto:hover {
  transform: scale(1.2);
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: -1;
}

article {
  margin: 2em 1em 1em 1em;
  width: 65%;
  height: 2250px;
  float: left;
  padding-left: 1em;
}

.op {
  width: 75%;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.lista-exp {
  padding: 2em;
}

.contenedor {
  width: 75%;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 90%;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
}

h3 {
  padding: 1em;
}

p {
  padding: 1em;
}

button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  transition: all 500ms ease;
  border-radius: 50px;
}

button:hover {
  transform: scale(1.2);
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.6);
  opacity: 1;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

aside {
  margin: 70px 0px 0px 0px;
  width: 30%;
  height: 1000px;
  float: right;
}

#profile {
  text-align: justify;
}

footer {
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 90%;
  height: 100px;
  margin: 1em, 1em, 1em, 1em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  padding: 8px;
}

.div1 {
  grid-area: 5 / 1 / 6 / 2;
}

.div2 {
  grid-area: 5 / 2 / 6 / 3;
}

.div3 {
  grid-area: 5 / 3 / 6 / 4;
}

.div4 {
  grid-area: 5 / 4 / 6 / 5;
}

.form {
  margin: 2em;
  text-align: center;
}

.input-container {
  margin: 0 auto;
  width: 300px;
  position: relative;
}

.label {
  position: absolute;
  left: 10px;
  top: 14px;
  transition: all 0.2s;
  padding: 0 2px;
  z-index: 0;
  color: #be2725;
  font-weight: bold;
}

.text-input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 4px solid #be2725;
  outline: none;
  transform: all 0.3s;
  color: #be2725;
  background-color: antiquewhite;
}

.label::before {
  content: "";
  height: 5px;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 4px solid #000;
}

.text-input:focus + .label,
.filled {
  top: -15px;
  color: #000;
  font-size: 1em;
}

.text-input::placeholder {
  font-size: 1em;
  opacity: 0;
  font-size: all 0.3s;
}

.text-input:focus::placeholder {
  opacity: 1;
}

.img-footer {
  width: 50px;
  height: 50px;
}

@media (max-width: 900px) {
  header #namepage,
  header nav {
    width: 100%;
    text-align: center;
    line-height: 100px;
  }

  .headeronmove {
    height: auto;
  }

  .headeronmove #namepage,
  .headeronmove nav {
    line-height: 50px;
  }

  #pres,
  #exp,
  #skills,
  #cont {
    text-align: left;
    margin: 0;
    font-size: 2em;
    font-family: lato;
    animation: glitch 3s infinite;
  }

  @keyframes glitch {
    0% {
      text-shadow: #b4cf06 0px 0px, #0d22da 0px 0px;
    }

    50% {
      text-shadow: #ff0000 -8px 0px, #60ffff 8px 0px;
    }

    100% {
      text-shadow: #b4cf06 0px 0px, #0d22da 0px 0px;
    }
  }
}

